
.listUser{
 display: flex;
 align-items: center;
 justify-content: center; 
 flex-direction: column;
  
    .box--listUser{
    width: 80%;
    height: 150px;
    background: #353655;

    margin-top: 2px;
    display: flex;
    flex-direction: row;
 

 .listUser--img{
     width: 20%;
     display:flex;
     justify-content:flex-end;
     align-items:center;
     align-content: center;
     
     .img--circle{
        width: 130px;
        height: 130px;
    
        border-radius: 100%;
        background-color: #ffff;
     }
 }

    .listUser--info{
    width:60%;
    margin-left: 20px;
        
        .info--text{
            margin-top: 40px;
            color: #ffff;
            font-size: 30px;
        }
    }

    .listUser--pay{
     width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

     .pay--btn{
        width:35%;
        height: 35px;
        color: black;
        font-size: 20px;
     }



    }



}
}