
<div class="project--full">
    <div class="box--header">
    <img class="header--project" src="../../../assets/img/picpay-logo.png" alt="">
    <h1 class="header-title">Desafio vaga Front-end <br>  Dev Cleiton Oliveira </h1>
</div>
<div class="listUser">
    <div class="box--listUser" *ngFor="let item of usuarios" >
        <div class="listUser--img">
            <img class="img--circle" [src]="item.img">
        </div>
        <div class="listUser--info">
            <p class="info--text">Nome do usuário:{{item.name}} <br> Id: {{item.id}}</p> 
        </div>
        <div class="listUser--pay">
            <button [value]="item.name" (click)="pegarNome($event.target)" (click)="open()" class="pay--btn">Pagar</button>
        </div>            
    </div>
</div>
</div>
