<div class="modal-header box--header ">
    <p class="modal-title">Pagamento para <p class="header--destac" > {{name}}</p> 
   
</div>   

    <div class="modal-body box--body">
    <input type="text" class="body--input" (input)="valor = $event.target" placeholder="R$0,00" value="R$"/>
           
      <select class="body--select" (change)="cartaoSelecionado($event.target)" >
        <option selected >Escolha o cartão</option>
        <option *ngFor="let card of cards" [value]="card.card_number" >{{card.card_number}}</option>
      </select>

      <button class="body--btn"  (click)="efetuarPagamento()" (click)="activeModal.close('Close click')" (Click)="openMOdal()">Pagar</button>

    </div>
